DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:8081"
CONNECT_COOLDOWN_DAYS=30

PRIVY_APP_ID=
PRIVY_APP_SECRET=
PINATA_JWT=
CERAMIC_URL=https://ceramic-clay.3boxlabs.com
PIMLICO_API_KEY=
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
MEMORY_VAULT_ADDRESS=
PAYMASTER_ADDRESS=
PREMIUM_SBT_ADDRESS=
STORAGE_NFT_ADDRESS=
DEPLOYER_PRIVATE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PREMIUM_PRICE_ID=
ADMIN_WALLET_ADDRESS=
